html,body
{
    margin: 0;
    padding: 0;
}


.page-wrapper{
    background-color: #fff;
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.content-wrapper
{
    width: 75vw;
}


.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
